<h2>New Document</h2>

<% form_for(@document,
		:html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>
<%= render 'form',:f => f %>
<p>
<%= f.submit( "Create new Document" )%>
<%= button_link_to 'Back to Documents', documents_path %>
</p>
<% end %>
